# Environments
.env
env/
# https://github.com/qoomon/git-conventional-commits
git-conventional-commits.yaml
# Visual Studio Code 
.vscode/*
# JetBrains
.idea/*
# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
#db files
data/